{{define "locations"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
</head>
<body>
    {{range .Data}}
    <h1>{{.Name}}</h1>
    <p><strong>Status: </strong>{{.Status}}</p>
    <img src="{{.Image}}" alt="Location Image"/>
    {{end}}
    <a href=/locations?page={{.Response.Info.Prev}}>prev</a>
    <a href=/locations?page={{.Response.Info.Next}}>next</a>
</body>
</html>
{{end}}